

.navItem{
    align-items: center;
    
}
.navItem a{
    text-decoration: none;
    color:black;
    margin-right:15px;
    
    
}
.logoutBtn{
    background-color: #A52A2A;
    border:none;
    color:white;
}
.logoutBtn:hover{
    background-color: #778899;
}
.LoginBtn{
    background-color: #A52A2A;
    width:60px;
    text-align: center;
    padding:5px;
    border:none;
    border-radius: 5px;
    
}
.LoginBtn:hover{
    background-color: #778899;
    color:white;
}

