
.manageInventoryBtn{
    text-align: center;
    
   
}
.manageInventoryBtn a{
    text-decoration: none;
    background-color: #A52A2A;
    border:none;
    padding:10px;
    color:white;
    border-radius: 5px;
    transition: 0.3s;

}
.manageInventoryBtn a:hover{
    background-color: #778899;
    color:black;
}
