
.manageInventoryBtn{
    text-align: center;
    
   
}
.manageInventoryBtn a{
    text-decoration: none;
    background-color: orange;
    border:none;
    padding:10px;
    color:white;
    border-radius: 5px;
    transition: 0.3s;

}
.manageInventoryBtn a:hover{
    background-color: rgb(215, 185, 130);
    color:black;
}